@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body
{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.logo img{
    width: 44px;
    padding-right: 8px;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 70vh;
    background-color: black;
    color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 75%;
   border-radius: 12px;
   padding: 34px;
   background-image: url('img/bg.jpg');
   background-size: 120%;
   background-repeat: no-repeat;
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
#time{
    width: 80vw;
    display: flex;
    justify-content:space-between ;
}
.icons{
    margin-top: 20px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 5px;
}
.play_pause{
    margin-right: 20px;
}
.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width :768px){
    .icons {margin-top: 50px;}
}

@media  only screen and (max-width : 532px) {
    .songItem img{display: none;}
    .songName { padding-left: 5px;}
}

@media only screen and (max-width : 420px){
    .timestamp {display: none;}
}
@media only screen and (max-width : 300px){
    .songInfo img{display:none;}
}